<div class="container">
    <h1>Préstamo</h1>
  
    <form>
      <mat-form-field>
        <mat-label>Identificador</mat-label>
        <input matInput placeholder="Identificador" [readonly]="true">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nombre del cliente</mat-label>
        <mat-select [(ngModel)]="loan.client" name="client" required>
          <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nombre del juego</mat-label>
        <mat-select [(ngModel)]="loan.game" name="game" required>
          <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <div class="date-container">
        <mat-form-field>
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="loan.startDate" name="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Fecha de fin</mat-label>
          <input matInput [matDatepicker]="endPicker" [(ngModel)]="loan.endDate" name="endDate" required>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  
    <div class="buttons">
      <button mat-stroked-button (click)="onClose()">Cancelar</button>
      <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
  